@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Libre+Baskerville:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}


#my-canvas{
    visibility: unset;
    top: auto;
    position: relative;
    width: fit-content;
}
nav{
    background-color: rgb(43, 6, 68);
    color: rgb(255, 255, 255);
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    padding: 0 12px;
    margin: 5px 0;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
  /* background-color: rgb(202, 161, 245); */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    

}

.container{
   /* background-color: rgb(74, 150, 216);*/
        display: grid;
        grid-template-columns: repeat(3, 10vw);
        grid-template-rows: repeat(3, 10vw);
        font-family: 'Libre Baskerville', serif;
        
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(236, 228, 112);
    background-position-x: center;
}

.info{
    font-size: 20px;
}


.gameInfo{
    padding: 0 34px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    margin-top: 50px;
    
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.winInfo{
    display: flex;
    font-size: 200vm;
    background-color: rgb(225, 250, 133);
    justify-content: center;
    margin-top: 40px;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background: rgb(201, 231, 146);
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 20px;
    
}

#reset:hover{
    background-color: aqua;
    
}


@media screen and (max-width: 250px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}